@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Tajawal', sans-serif;
  
  user-select: none;
  -webkit-user-drag: none;
}
body {
  background: #fbfbfb;
}

.cold_filter{
  
  filter: grayscale(0.84) hue-rotate(20deg)  saturate(2.2) contrast(1.1) ;
}