@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Tajawal', sans-serif;
  user-select: none;
  -webkit-user-drag: none;
  scroll-behavior: smooth;
  
}


body {
  background: #fbfbfb;
  text-align: right;
  overflow-x: hidden;
  /* direction: ltr; */
}

.cold_filter{
  
  filter: grayscale(0.84) hue-rotate(20deg)  saturate(2.2) contrast(1.1) ;
}

aside {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}



.Nav_Item{
  @apply flex flex-row-reverse items-center gap-1  text-white cursor-pointer h-full  relative after:absolute after:bottom-0 after:left-0  after:w-0 hover:after:w-full after:h-[6px] after:bg-secondary after:transition-all after:rounded
}

.Side_Item{
  @apply flex flex-row-reverse items-center gap-1  text-white cursor-pointer h-full  relative after:absolute after:-bottom-2 after:left-0  after:w-0 hover:after:w-full after:h-[6px] after:bg-secondary after:transition-all after:z-10 after:rounded
}


.advantage_item{
  @apply flex items-center justify-around  gap-2 md:border-l border-b p-2 md:w-full   relative after:absolute after:bottom-0 after:left-0  after:w-0 hover:after:w-full after:h-[6px] after:bg-secondary after:transition-all
}


input[type="range"] {
  -webkit-appearance: none; 
    appearance: none;
   background: transparent; 
   cursor: pointer;
   z-index: 1;
}
input[type="range"]::-webkit-slider-thumb {
   -webkit-appearance: none; 
   appearance: none; 
  background-color: #297EA6;
  border-radius: 50%;
  height: 15px;
  width: 15px; 
}